<div class="body-container">
  <div class="container mb-3">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="film-info">
        <% if @list.movies.empty? %>
        <div class="beginning">
          <h1> Add your first film </h1>
          <div data-controller="addfilm" class="container-addfilm">
            <div data-addfilm-target="form" class="form-add d-none">
                <%=render "bookmarks/new"%>
            </div>
              <button type="button"  class="main-button" id="home-button" data-action="click->addfilm#show">Add Films <i class="fas fa-film"></i></button>
          </div>
          </div>
        <% else %>
          <%= render "moviecard", list: @list %>
          <% end %>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 order-md-last">
      <div class="container-list">
        <div class="big-title-div">
          <h1 id="list-title"><%= @list.name %></h1>
          <h3 id="subtitle"><span class="red-char"><%=@list.movies.size%></span> Film<%=@list.movies.size>1 ? "s" : ""%></h3>
        </div>
          <div class="container-grid">
            <div class="cards-grid">
              <% @list.movies.each do |movie| %>
                <%= render "movielist", movie: movie %>
              <% end %>
            </div>
          </div>
          <div data-controller="addfilm" class="container-addfilm">
          <div data-addfilm-target="form" class="form-add d-none">
              <%=render "bookmarks/new"%>
          </div>
            <button type="button"  class="main-button" id="home-button" data-action="click->addfilm#show">Expand list <i class="fas fa-film"></i></button>
      </div>
    </div>
  </div>
</div>
</div>
